*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform-style: preserve-3d; */
    perspective: 1000px;
    background: linear-gradient(rgb(221, 85, 221) 30%,rgb(0, 204, 255) );
    
    
}
.cube{
    height: 250px;
    width: 250px;
    /* background-color: red; */
    padding: 10px;
    display: flex;
    position: relative;
    /* perspective: 1000px; */
    transform-style: preserve-3d;
    animation: rotatecube 6s ease-in-out infinite;
}
@keyframes rotatecube {
    0% {
        /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        /* transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); */
        transform: rotate3d(1, 1, 1, 360deg);
    }

}
.box{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
    color: white;
    border-radius: 7px;
}
#box1{
    background-color: rgba(237, 26, 26, 0.681);
    
}
#box2{
    background-color: rgba(6, 229, 241, 0.675);
    transform: translatez(250px);
}
#box3{
    background-color: rgba(230, 22, 241, 0.681);
    transform-origin: right;
    transform: rotatey(90deg);
}
#box4{
    background-color: rgba(238, 255, 0, 0.658);
    transform-origin: left;
    transform: rotatey(-90deg);
}
#box5{
    background-color: rgba(6, 244, 61, 0.685);
    transform-origin: bottom;
    transform: rotatex(-90deg);
}
#box6{
    background-color: rgba(10, 14, 250, 0.655);
    transform-origin: top;
    transform: rotatex(90deg);
}